// fonts
$body-font:                     sans-serif !default;
$body-line-height:              1.2 !default;
$body-font-weight:              400 !default;
$heading-font:                  serif !default;
$heading-line-height:           1.4 !default;
$heading-font-weight:           500 !default;

// responsivness
$mq-568:                        35.5em !default;
$mq-768:                        48em !default;
$mq-1024:                       64em !default;
$mq-1280:                       80em !default;

// navigationbar
$nav-border-line:               1px !default;
$nav-border-color:              #cdcdcd !default;
$nav-arrow-color:               '%23e67e22' !default; // arrow is svg, so you need to encode # with %23
$nav-hover-color:               #2ecc71 !default;
$nav-text-color:                #2ca8ff !default;
$nav-text-hover-color:          #fff !default;

// notification
$notification-font-size:        .85em;
$notification-width:            30% !default;
$notification-width-tablet:     70% !default;
$notification-width-laptop:     50% !default;
$notification-margin:           10px !default;
$notification-border-radius:    10px !default;
$notification-transition:       .8s ease-in-out !default;
$notification-default-color:    #cdcdcd !default;

// color palette
$accent:                        #2ca8ff !default;
$green:                         #2ecc71 !default;
$yellow:                        #f1c40f !default;
$orange:                        #e67e22 !default;
$red:                           #cf2b1a !default;
$gray:                          #cdcdcd !default;

// button color palette: [key = name, value = array] of background-color and font color
$button-palette: (
    success: ($green, #fff), 
    info: ($yellow, #fff), 
    warning: ($orange, #fff), 
    error: ($red,#fff)
)
