@import "_settings";

nav[role="navigation"] {
  #hamburger {
    display: none;

    &:checked + label + ul {
      display: flex;
    }

    & + label {
      display: none;

      &::after {
        $svgColor: str-slice(inspect($nav-hamburger-color), 2, 99);
        content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32px' height='32px'><path fill='%23#{$svgColor}' d='M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z'/></svg>");
      }

      @media screen and (max-width: $mq-568) {
        display: block;
        cursor: pointer;
      }
    }
  }

  ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none !important;
    display: none;
    flex-direction: column;
    list-style-type: none;

    @media screen and (min-width: $mq-568) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    li {
      flex: 1;
      border: none !important;
      margin: 0;
      padding: 0;
      position: relative;

      @media screen and (min-width: $mq-568) {
        height: 100%;
      }

      &:hover,
      &:focus {
        background: $nav-hover-color;
        color: $nav-text-hover-color;
        a {
          color: $nav-text-hover-color;
        }

        // 2°+ level items
        & > ul {
          display: block;
        }
      }

      a {
        display: flex;
        width: 100%;
        text-decoration: none;
        color: $nav-text-color;
        padding: 1em;
        @media screen and (min-width: $mq-568) {
          height: 100%;
          justify-content: center;
          align-items: center;
        }
      }

      // 2°+ level items
      ul {
        display: none;
        flex-direction: column;
        height: auto;
        @media screen and (min-width: $mq-568) {
          position: absolute;
        }

        li {
          @media screen and (min-width: $mq-568) {
            background-color: $nav-hover-color;
          }

          a {
            justify-content: initial;
          }

          ul {
            li {
              padding-left: 1em;
            }
          }
        }
      }

      &.has-submenu > a:after {
        $svgColor: str-slice(inspect($nav-arrow-color), 2, 99);
        content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'><polygon style='fill: %23#{$svgColor}' points='0,0 10,0 5,5'/></svg>");
        margin: 0 0.3em;
      }
    }
  }
}
