@import "_settings";

.notification-container {
  position: fixed;
  display: flex;
  width: $notification-width;
  height: 0;
  border-radius: $notification-border-radius;
  transition: opacity $notification-transition;
  opacity: 0;
  overflow: hidden;

  @media (min-width: $mq-768) and (max-width: $mq-1280) {
    width: $notification-width-laptop;
  }

  @media (min-width: $mq-568) and (max-width: $mq-768) {
    width: $notification-width-tablet;
  }

  @media (max-width: $mq-568) {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 0;
  }

  @each $key, $value in $button-palette {
    $bgcolor: nth($value, 1);
    $fontcolor: nth($value, 2);

    &.#{$key} {
      background-color: $bgcolor;
      color: $fontcolor;

      &:hover,
      &:focus {
        background-color: darken($bgcolor, 20%);
      }

      .notification-close {
        border-left-color: $fontcolor !important;
        &::after {
          $svgColor: str-slice(inspect($fontcolor), 2, 99);
          content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'><path fill='%23#{$svgColor}' d='M15.4,12l7.9-7.9c0.9-0.9,0.9-2.4,0-3.4s-2.4-0.9-3.4,0L12,8.5L4.1,0.7c-1-1-2.5-1-3.5,0s-0.9,2.4,0,3.4l8,7.9l-7.9,7.9 c-0.9,0.9-0.9,2.4,0,3.4C1.2,23.7,1.8,24,2.4,24s1.2-0.2,1.7-0.7l8-7.9l7.9,7.9c0.5,0.5,1.1,0.7,1.7,0.7s1.2-0.2,1.7-0.7 c0.9-0.9,0.9-2.4,0-3.4L15.4,12z'/></svg>");
        }
      }
    }
  }

  &.top {
    top: $notification-margin;
    right: auto;
    left: auto;
    bottom: auto;
    @media (max-width: $mq-568) {
      top: 0;
    }
  }

  &.bottom {
    top: auto;
    right: auto;
    left: auto;
    bottom: $notification-margin;
    @media (max-width: $mq-568) {
      bottom: 0;
    }
  }

  &.left {
    left: $notification-margin;
    @media (max-width: $mq-568) {
      left: 0;
    }
  }

  &.right {
    right: $notification-margin;
    @media (max-width: $mq-568) {
      right: 0;
    }
  }

  &.show {
    display: flex;
    opacity: 1;
    height: auto;
    min-height: 10%;
    border: 1px solid $notification-default-color;
  }

  .notification-body {
    flex: 1;
    padding: 0.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $notification-font-size;
  }

  .notification-close {
    flex: 0 0 10%;
    border-left: 1px solid $notification-default-color;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
