@import '_settings';

.notification-container {
  position: fixed;
  display: flex;
  width: $notification-width;
  height: 0;
  top: $notification-offset-top;
  right: $notification-offset-right;
  left: $notification-offset-left;
  bottom: $notification-offset-bottom;
  border-radius: $notification-border-radius;
  transition: opacity $notification-transition;
  opacity: 0;
  overflow: hidden;

  @media (min-width: $mq-768) and (max-width: $mq-1280) {
    width: $notification-width-laptop;
  }

  @media (min-width: $mq-568) and (max-width: $mq-768) {
    width: $notification-width-tablet;
  }

  @media (max-width: $mq-568) {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 0;
  }

  @each $key, $value in $button-palette {
    $bgcolor: nth($value, 1);
    $fontcolor: nth($value, 2);

    &.#{$key} {
      background-color: $bgcolor;
      color: $fontcolor;

      &:hover,
      &:focus {
        background-color: darken($bgcolor, 20%);
      }

      .notification-close {
        border-left-color: $fontcolor !important;
        color: $fontcolor !important;
      }
    }
  }

  &.show {
    display: flex;
    opacity: 1;
    height: auto;
    min-height: 10%;
    border: 1px solid $notification-default-color;
  }

  .notification-body {
    flex: 1;
    padding: .6em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $notification-font-size;
  }

  .notification-close {
    flex: 0 0 10%;
    border-left: 1px solid $notification-default-color;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 24px/100% arial, sans-serif;
    color: $notification-default-color;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;

    &::after {
      content: '✖'; /* UTF-8 symbol */
    }
  }
}